{% extends 'index.html' %}

{% block Body %}
<div class="container mt-5">
    <div class="row">
        {% for categorie in categ %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                {% comment %} {% if categorie.image %}
                <img src="{{ categorie.image.url }}" class="card-img-top" alt="Image de {{ categorie.nom }}">
                {% endif %} {% endcomment %}
                <div class="card-body">
                    <h3 class="card-title">{{ categorie.libeller }}</h3>
                    {% comment %} <p class="card-text">{{ categorie.description|truncatewords:20 }}</p> {% endcomment %}
                    {% comment %} <a href="#" class="btn btn-primary">Voir plus</a> {% endcomment %}
                    <div class="d-flex justify-content-center mt-3">
                        
                     <a href="{% url 'modifyCategorie' categorie.id %}" class="btn btn-warning btn-sm mx-2" title="Modifier">
                         <i class="bi bi-pencil"></i> Modifier
                     </a>
                     
                     <form method="post" action="{% url 'deleteCategorie' categorie.id %}" style="display:inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ?');">
                         {% csrf_token %}
                         <button type="submit" class="btn btn-danger btn-sm mx-2" title="Supprimer">
                             <i class="bi bi-trash"></i> Supprimer
                         </button>
                     </form>
                 </div>
                 
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-center">Aucune catégorie disponible.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
